In [1]:
import pandas as pd
import numpy as np

C:\Users\benfi\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.0' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\benfi\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:62: UserWarning: Pandas requires version '1.3.4' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

In [2]:
opel1df = pd.read_csv('opel_corsa_01.csv', sep=';')
opel2df = pd.read_csv('opel_corsa_02.csv', sep=';')
peug1df = pd.read_csv('peugeot_207_01.csv', sep =';')
peug2df = pd.read_csv('peugeot_207_02.csv', sep=';')

In [3]:
alldf = pd.concat([opel1df,opel2df,peug1df,peug2df])

In [4]:
print(alldf.info())

<class 'pandas.core.frame.DataFrame'>
Index: 23775 entries, 0 to 4445
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 23775 non-null  int64
 1   AltitudeVariation          23775 non-null  float64
 2   VehicleSpeedInstantaneous  23766 non-null  float64
 3   VehicleSpeedAverage        23775 non-null  float64
 4   VehicleSpeedVariance       23775 non-null  float64
 5   VehicleSpeedVariation      23775 non-null  float64
 6   LongitudinalAcceleration   23775 non-null  float64
 7   EngineLoad                 23770 non-null  float64
 8   EngineCoolantTemperature   23770 non-null  float64
 9   ManifoldAbsolutePressure   23770 non-null  float64
 10  EngineRPM                  23770 non-null  float64
 11  MassAirFlow                23770 non-null  float64
 12  IntakeAirTemperature       23770 non-null  float64
 13  VerticalAcceleration       23775 non-null  float64
 14  FuelConsumptionAverage     23770 non-null  float64
 15  roadSurface                23775 non-null  object
 16  traffic                    23775 non-null  object
 17  drivingStyle               23775 non-null  object
dtypes: float64(14), int64(1), object(3)
memory usage: 3.4+ MB
None

In [5]:
#out of 23775 entries and 18 columns, one column is missing 9 entries and a few are missing 5.
#in the grand scheme of things this is miniscule so we can just delete all the NaN entries

alldf = alldf.dropna()
print(alldf.info())

<class 'pandas.core.frame.DataFrame'>
Index: 23762 entries, 0 to 4445
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 23762 non-null  int64
 1   AltitudeVariation          23762 non-null  float64
 2   VehicleSpeedInstantaneous  23762 non-null  float64
 3   VehicleSpeedAverage        23762 non-null  float64
 4   VehicleSpeedVariance       23762 non-null  float64
 5   VehicleSpeedVariation      23762 non-null  float64
 6   LongitudinalAcceleration   23762 non-null  float64
 7   EngineLoad                 23762 non-null  float64
 8   EngineCoolantTemperature   23762 non-null  float64
 9   ManifoldAbsolutePressure   23762 non-null  float64
 10  EngineRPM                  23762 non-null  float64
 11  MassAirFlow                23762 non-null  float64
 12  IntakeAirTemperature       23762 non-null  float64
 13  VerticalAcceleration       23762 non-null  float64
 14  FuelConsumptionAverage     23762 non-null  float64
 15  roadSurface                23762 non-null  object
 16  traffic                    23762 non-null  object
 17  drivingStyle               23762 non-null  object
dtypes: float64(14), int64(1), object(3)
memory usage: 3.4+ MB
None

In [6]:
alldf = alldf.drop(columns=['Unnamed: 0'])

In [7]:
alldf.describe()

,AltitudeVariation,VehicleSpeedInstantaneous,VehicleSpeedAverage,VehicleSpeedVariance,VehicleSpeedVariation,LongitudinalAcceleration,EngineLoad,EngineCoolantTemperature,ManifoldAbsolutePressure,EngineRPM,MassAirFlow,IntakeAirTemperature,VerticalAcceleration,FuelConsumptionAverage
count,23762.000000,23762.000000,23762.000000,23762.000000,23762.000000,23762.000000,23762.000000,23762.000000,23762.000000,23762.000000,23762.000000,23762.000000,23762.000000,23762.000000
mean,-0.263387,38.651043,38.813804,171.961782,-0.014447,0.681711,36.765639,70.824299,115.197669,1486.886310,16.046019,23.483377,0.463987,15.170593
std,2.091693,33.863575,31.148168,182.788513,2.374378,1.583258,26.642572,15.681131,20.457661,578.032388,9.691938,10.902092,3.463569,4.603914
min,-24.600006,0.000000,0.000000,0.000000,-18.000002,-3.065000,0.000000,12.000000,88.000000,0.000000,0.880000,7.000000,-2.763100,7.271883
25%,-1.399998,11.700000,15.996519,46.048954,-0.900001,-0.219000,18.823530,63.000000,102.000000,854.000000,6.970000,16.000000,-0.553675,11.672288
50%,-0.099998,31.500000,29.325470,113.972026,0.000000,0.390700,31.372549,79.000000,107.000000,1485.250000,15.360000,19.000000,-0.078100,14.519330
75%,0.700001,54.899998,50.159999,230.295981,0.900002,1.159850,58.431374,81.000000,120.000000,1955.875000,21.717499,31.000000,0.237450,18.288337
max,11.400002,124.749725,121.330733,1418.370369,97.199997,8.477800,100.000000,89.000000,252.000000,3167.000000,73.250000,65.000000,17.944800,45.336861

In [8]:
alldf = alldf.drop(columns=['traffic', 'drivingStyle'])

In [9]:
road_surf_unique = list(alldf["roadSurface"].unique())

print(road_surf_unique)

print("\nValue counts for each unique value:")
for value in road_surf_unique:
    count = alldf["roadSurface"].value_counts()[value]
    print(f"{value}: {count}")

['SmoothCondition', 'UnevenCondition', 'FullOfHolesCondition']

Value counts for each unique value:
SmoothCondition: 14235
UnevenCondition: 6280
FullOfHolesCondition: 3247

In [10]:
alldf

,AltitudeVariation,VehicleSpeedInstantaneous,VehicleSpeedAverage,VehicleSpeedVariance,VehicleSpeedVariation,LongitudinalAcceleration,EngineLoad,EngineCoolantTemperature,ManifoldAbsolutePressure,EngineRPM,MassAirFlow,IntakeAirTemperature,VerticalAcceleration,FuelConsumptionAverage,roadSurface
0,-2.299988,25.670519,13.223501,121.592690,-2.476980,0.3555,4.705883,68.0,106.0,1796.0,15.810000,24.0,-0.1133,19.497335,SmoothCondition
1,-2.099976,24.094259,13.638919,120.422571,-1.576260,0.4492,10.588236,68.0,103.0,1689.0,14.650000,22.0,-0.1289,19.515722,SmoothCondition
2,-1.500000,22.743179,14.031043,118.456769,-1.351080,0.4258,27.450981,68.0,103.0,1599.0,11.850000,21.0,-0.1328,19.441765,SmoothCondition
3,0.100037,22.292820,14.171073,117.571308,-0.450359,0.4140,24.313726,69.0,104.0,1620.0,12.210000,20.0,-0.0859,19.388769,SmoothCondition
4,0.099976,23.643900,14.328954,117.074149,1.351080,0.3945,20.000000,69.0,104.0,1708.0,11.910000,21.0,-0.0664,19.301638,SmoothCondition
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4441,1.000000,28.799999,28.559999,57.190571,3.600000,-0.0292,25.882353,81.0,115.0,1755.5,20.469999,25.0,-0.1661,14.578003,SmoothCondition
4442,1.699997,30.599998,28.529999,57.010266,1.799999,-0.0304,11.764706,81.0,106.0,736.5,17.740000,25.0,-0.1987,14.585642,SmoothCondition
4443,1.800003,29.699999,28.499999,56.883045,-0.900000,-0.1684,98.039215,81.0,106.0,1254.0,9.520000,24.0,-0.1156,14.547294,SmoothCondition
4444,2.100006,29.699999,28.409999,56.160910,0.000000,-0.0644,79.607841,80.0,112.0,1254.0,14.910000,23.0,-0.0760,14.546828,SmoothCondition
4445,1.500000,33.299999,28.349999,55.340843,3.600000,-0.1817,80.000000,80.0,113.0,1363.5,15.330000,23.0,-0.0605,14.554068,SmoothCondition

In [11]:
import pandas as pd
from sklearn.utils import resample

class_dfs = {}
classes_to_undersample = ['SmoothCondition', 'UnevenCondition', 'FullOfHolesCondition']

for class_name in classes_to_undersample:
    class_dfs[class_name] = alldf[alldf['roadSurface'] == class_name]


smallest_class_size = min(class_df.shape[0] for class_df in class_dfs.values())


undersampled_dfs = {}
for class_name, class_df in class_dfs.items():
    undersampled_dfs[class_name] = resample(class_df, n_samples=smallest_class_size, replace=False, random_state=42)


undersampled_df = pd.concat(undersampled_dfs.values())


undersampled_df = undersampled_df.sample(frac=1, random_state=42)

C:\Users\benfi\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [18]:
road_surf_unique_undersampled = list(undersampled_df["roadSurface"].unique())

print(road_surf_unique_undersampled)

print("\nValue counts for each unique value:")
for value in road_surf_unique_undersampled:
    count = undersampled_df["roadSurface"].value_counts()[value]
    print(f"{value}: {count}")

['UnevenCondition', 'FullOfHolesCondition', 'SmoothCondition']

Value counts for each unique value:
UnevenCondition: 3247
FullOfHolesCondition: 3247
SmoothCondition: 3247

In [19]:
one_hot_encoding = pd.get_dummies(undersampled_df[['roadSurface']])
one_hot_encoding = one_hot_encoding.astype(int)
one_hot_encoding

,roadSurface_FullOfHolesCondition,roadSurface_SmoothCondition,roadSurface_UnevenCondition
5362,0,0,1
1849,0,0,1
6614,1,0,0
3786,0,0,1
3847,1,0,0
...,...,...,...
6544,0,0,1
4083,0,0,1
4065,0,0,1
3425,0,1,0
5502,1,0,0

In [20]:
one_hot_encoding['Target']= one_hot_encoding.values.tolist()
one_hot_encoding

,roadSurface_FullOfHolesCondition,roadSurface_SmoothCondition,roadSurface_UnevenCondition,Target
5362,0,0,1,"[0, 0, 1]"
1849,0,0,1,"[0, 0, 1]"
6614,1,0,0,"[1, 0, 0]"
3786,0,0,1,"[0, 0, 1]"
3847,1,0,0,"[1, 0, 0]"
...,...,...,...,...
6544,0,0,1,"[0, 0, 1]"
4083,0,0,1,"[0, 0, 1]"
4065,0,0,1,"[0, 0, 1]"
3425,0,1,0,"[0, 1, 0]"
5502,1,0,0,"[1, 0, 0]"

In [21]:
df_new = undersampled_df.drop(["roadSurface"], axis = 1)
df_new['Target'] = one_hot_encoding['Target']
df_new

,AltitudeVariation,VehicleSpeedInstantaneous,VehicleSpeedAverage,VehicleSpeedVariance,VehicleSpeedVariation,LongitudinalAcceleration,EngineLoad,EngineCoolantTemperature,ManifoldAbsolutePressure,EngineRPM,MassAirFlow,IntakeAirTemperature,VerticalAcceleration,FuelConsumptionAverage,Target
5362,-2.900002,38.700001,27.779999,130.930775,-0.899998,0.5766,0.000000,79.0,109.0,1519.5,18.910000,31.0,-1.0656,10.290277,"[0, 0, 1]"
1849,-0.200005,60.299999,39.659999,180.667521,0.000000,0.6395,67.058823,53.0,114.0,1776.0,20.049999,22.0,-0.2475,15.674388,"[0, 0, 1]"
6614,-1.099998,39.599998,27.719999,87.529421,2.700001,0.0278,67.058823,31.0,112.0,1675.0,20.469999,17.0,0.3932,18.127102,"[1, 0, 0]"
3786,-0.099998,5.400000,5.918294,2.312840,0.000000,-0.2872,35.686275,51.0,102.0,781.5,9.520000,17.0,-0.0647,18.388115,"[0, 0, 1]"
3847,-0.200005,5.400000,21.474434,141.250852,0.000000,0.2508,41.960785,38.0,102.0,795.0,6.020000,13.0,-0.5005,19.729769,"[1, 0, 0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6544,-0.299999,24.299999,16.694999,99.655392,0.000000,1.4751,21.960785,79.0,105.0,1490.0,12.360000,35.0,-1.7880,17.576698,"[0, 0, 1]"
4083,-0.300003,12.886039,5.849213,2.768850,-0.822352,-0.6045,35.686275,53.0,102.0,924.0,8.360000,18.0,0.0519,18.815697,"[0, 0, 1]"
4065,-0.900002,47.699997,40.994999,172.802508,-2.700001,1.4228,1.176471,79.0,109.0,1362.0,16.719999,35.0,-1.1700,10.256033,"[0, 0, 1]"
3425,-1.699951,55.394276,57.540994,28.664323,-2.927345,0.2539,0.000000,67.0,107.0,1590.0,17.510000,11.0,0.2578,12.544155,"[0, 1, 0]"
5502,-0.100002,41.399998,46.799999,82.894572,0.899998,0.3913,68.627449,38.0,117.0,1718.5,20.910000,16.0,-0.7145,13.903927,"[1, 0, 0]"