In [1]:
import pandas as pd
import numpy as np

C:\Users\benfi\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.0' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\benfi\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:62: UserWarning: Pandas requires version '1.3.4' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

In [2]:
opel1df = pd.read_csv('opel_corsa_01.csv', sep=';')
opel2df = pd.read_csv('opel_corsa_02.csv', sep=';')
peug1df = pd.read_csv('peugeot_207_01.csv', sep =';')
peug2df = pd.read_csv('peugeot_207_02.csv', sep=';')

In [3]:
alldf = pd.concat([opel1df,opel2df,peug1df,peug2df])

In [4]:
print(alldf.info())

<class 'pandas.core.frame.DataFrame'>
Index: 23775 entries, 0 to 4445
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 23775 non-null  int64
 1   AltitudeVariation          23775 non-null  float64
 2   VehicleSpeedInstantaneous  23766 non-null  float64
 3   VehicleSpeedAverage        23775 non-null  float64
 4   VehicleSpeedVariance       23775 non-null  float64
 5   VehicleSpeedVariation      23775 non-null  float64
 6   LongitudinalAcceleration   23775 non-null  float64
 7   EngineLoad                 23770 non-null  float64
 8   EngineCoolantTemperature   23770 non-null  float64
 9   ManifoldAbsolutePressure   23770 non-null  float64
 10  EngineRPM                  23770 non-null  float64
 11  MassAirFlow                23770 non-null  float64
 12  IntakeAirTemperature       23770 non-null  float64
 13  VerticalAcceleration       23775 non-null  float64
 14  FuelConsumptionAverage     23770 non-null  float64
 15  roadSurface                23775 non-null  object
 16  traffic                    23775 non-null  object
 17  drivingStyle               23775 non-null  object
dtypes: float64(14), int64(1), object(3)
memory usage: 3.4+ MB
None

In [5]:
#out of 23775 entries and 18 columns, one column is missing 9 entries and a few are missing 5.
#in the grand scheme of things this is miniscule so we can just delete all the NaN entries

alldf = alldf.dropna()
print(alldf.info())

<class 'pandas.core.frame.DataFrame'>
Index: 23762 entries, 0 to 4445
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 23762 non-null  int64
 1   AltitudeVariation          23762 non-null  float64
 2   VehicleSpeedInstantaneous  23762 non-null  float64
 3   VehicleSpeedAverage        23762 non-null  float64
 4   VehicleSpeedVariance       23762 non-null  float64
 5   VehicleSpeedVariation      23762 non-null  float64
 6   LongitudinalAcceleration   23762 non-null  float64
 7   EngineLoad                 23762 non-null  float64
 8   EngineCoolantTemperature   23762 non-null  float64
 9   ManifoldAbsolutePressure   23762 non-null  float64
 10  EngineRPM                  23762 non-null  float64
 11  MassAirFlow                23762 non-null  float64
 12  IntakeAirTemperature       23762 non-null  float64
 13  VerticalAcceleration       23762 non-null  float64
 14  FuelConsumptionAverage     23762 non-null  float64
 15  roadSurface                23762 non-null  object
 16  traffic                    23762 non-null  object
 17  drivingStyle               23762 non-null  object
dtypes: float64(14), int64(1), object(3)
memory usage: 3.4+ MB
None

In [6]:
alldf = alldf.drop(columns=['Unnamed: 0'])

In [7]:
alldf.describe()

,AltitudeVariation,VehicleSpeedInstantaneous,VehicleSpeedAverage,VehicleSpeedVariance,VehicleSpeedVariation,LongitudinalAcceleration,EngineLoad,EngineCoolantTemperature,ManifoldAbsolutePressure,EngineRPM,MassAirFlow,IntakeAirTemperature,VerticalAcceleration,FuelConsumptionAverage
count,23762.000000,23762.000000,23762.000000,23762.000000,23762.000000,23762.000000,23762.000000,23762.000000,23762.000000,23762.000000,23762.000000,23762.000000,23762.000000,23762.000000
mean,-0.263387,38.651043,38.813804,171.961782,-0.014447,0.681711,36.765639,70.824299,115.197669,1486.886310,16.046019,23.483377,0.463987,15.170593
std,2.091693,33.863575,31.148168,182.788513,2.374378,1.583258,26.642572,15.681131,20.457661,578.032388,9.691938,10.902092,3.463569,4.603914
min,-24.600006,0.000000,0.000000,0.000000,-18.000002,-3.065000,0.000000,12.000000,88.000000,0.000000,0.880000,7.000000,-2.763100,7.271883
25%,-1.399998,11.700000,15.996519,46.048954,-0.900001,-0.219000,18.823530,63.000000,102.000000,854.000000,6.970000,16.000000,-0.553675,11.672288
50%,-0.099998,31.500000,29.325470,113.972026,0.000000,0.390700,31.372549,79.000000,107.000000,1485.250000,15.360000,19.000000,-0.078100,14.519330
75%,0.700001,54.899998,50.159999,230.295981,0.900002,1.159850,58.431374,81.000000,120.000000,1955.875000,21.717499,31.000000,0.237450,18.288337
max,11.400002,124.749725,121.330733,1418.370369,97.199997,8.477800,100.000000,89.000000,252.000000,3167.000000,73.250000,65.000000,17.944800,45.336861

In [9]:
alldf = alldf.drop(columns=['traffic', 'drivingStyle'])

In [17]:
road_surf_unique = list(alldf["roadSurface"].unique())

print(road_surf_unique)

print("\nValue counts for each unique value:")
for value in road_surf_unique:
    count = alldf["roadSurface"].value_counts()[value]
    print(f"{value}: {count}")

['SmoothCondition', 'UnevenCondition', 'FullOfHolesCondition']

Value counts for each unique value:
SmoothCondition: 14235
UnevenCondition: 6280
FullOfHolesCondition: 3247

In [11]:
one_hot_encoding = pd.get_dummies(alldf[['roadSurface']])
one_hot_encoding = one_hot_encoding.astype(int)
one_hot_encoding

,roadSurface_FullOfHolesCondition,roadSurface_SmoothCondition,roadSurface_UnevenCondition
0,0,1,0
1,0,1,0
2,0,1,0
3,0,1,0
4,0,1,0
...,...,...,...
4441,0,1,0
4442,0,1,0
4443,0,1,0
4444,0,1,0
4445,0,1,0

In [12]:
one_hot_encoding['Target']= one_hot_encoding.values.tolist()
one_hot_encoding

,roadSurface_FullOfHolesCondition,roadSurface_SmoothCondition,roadSurface_UnevenCondition,Target
0,0,1,0,"[0, 1, 0]"
1,0,1,0,"[0, 1, 0]"
2,0,1,0,"[0, 1, 0]"
3,0,1,0,"[0, 1, 0]"
4,0,1,0,"[0, 1, 0]"
...,...,...,...,...
4441,0,1,0,"[0, 1, 0]"
4442,0,1,0,"[0, 1, 0]"
4443,0,1,0,"[0, 1, 0]"
4444,0,1,0,"[0, 1, 0]"
4445,0,1,0,"[0, 1, 0]"

In [13]:
df_new = alldf.drop(["roadSurface"], axis = 1)
df_new['Target'] = one_hot_encoding['Target']
df_new

,AltitudeVariation,VehicleSpeedInstantaneous,VehicleSpeedAverage,VehicleSpeedVariance,VehicleSpeedVariation,LongitudinalAcceleration,EngineLoad,EngineCoolantTemperature,ManifoldAbsolutePressure,EngineRPM,MassAirFlow,IntakeAirTemperature,VerticalAcceleration,FuelConsumptionAverage,Target
0,-2.299988,25.670519,13.223501,121.592690,-2.476980,0.3555,4.705883,68.0,106.0,1796.0,15.810000,24.0,-0.1133,19.497335,"[0, 1, 0]"
1,-2.099976,24.094259,13.638919,120.422571,-1.576260,0.4492,10.588236,68.0,103.0,1689.0,14.650000,22.0,-0.1289,19.515722,"[0, 1, 0]"
2,-1.500000,22.743179,14.031043,118.456769,-1.351080,0.4258,27.450981,68.0,103.0,1599.0,11.850000,21.0,-0.1328,19.441765,"[0, 1, 0]"
3,0.100037,22.292820,14.171073,117.571308,-0.450359,0.4140,24.313726,69.0,104.0,1620.0,12.210000,20.0,-0.0859,19.388769,"[0, 1, 0]"
4,0.099976,23.643900,14.328954,117.074149,1.351080,0.3945,20.000000,69.0,104.0,1708.0,11.910000,21.0,-0.0664,19.301638,"[0, 1, 0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4441,1.000000,28.799999,28.559999,57.190571,3.600000,-0.0292,25.882353,81.0,115.0,1755.5,20.469999,25.0,-0.1661,14.578003,"[0, 1, 0]"
4442,1.699997,30.599998,28.529999,57.010266,1.799999,-0.0304,11.764706,81.0,106.0,736.5,17.740000,25.0,-0.1987,14.585642,"[0, 1, 0]"
4443,1.800003,29.699999,28.499999,56.883045,-0.900000,-0.1684,98.039215,81.0,106.0,1254.0,9.520000,24.0,-0.1156,14.547294,"[0, 1, 0]"
4444,2.100006,29.699999,28.409999,56.160910,0.000000,-0.0644,79.607841,80.0,112.0,1254.0,14.910000,23.0,-0.0760,14.546828,"[0, 1, 0]"
4445,1.500000,33.299999,28.349999,55.340843,3.600000,-0.1817,80.000000,80.0,113.0,1363.5,15.330000,23.0,-0.0605,14.554068,"[0, 1, 0]"